body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    font-family: sans-serif;
    margin: 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    max-height: 50px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

h2 {
    font-size: 20px;
    font-weight: bold;

}

.header p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.section-title {
    font-size: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.score-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.score-section div {
    text-align: center;
}

.gauge {
    width: 100px;
    height: 100px;
    background: conic-gradient(#4caf50 0 70%,
            #ffc107 70% 85%,
            #f44336 85% 100%);
    border-radius: 50%;
    position: relative;
}

.gauge::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.box {

    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.summary-table,
.performance-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

.summary-table th,
.summary-table td,
.performance-table th,
.performance-table td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 8px;
    text-align: left;
    table-layout: fixed;
    font-size: 14px;
}

.summary-table th,
.performance-table th {
    background-color: #E0ECFF;
    font-weight: bold;
}

.summary-table td:last-child,
.performance-table td:last-child {
    text-align: right;
}

.progress-bar-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}

.progress-bar div {
    height: 100%;
    text-align: right;
    padding-right: 5px;
    color: black;
    font-weight: bold;
    font-size: small;
    position: absolute;
}

.progress-green {
    background-color: #4caf50;
}

.progress-yellow {
    background-color: #ffc107;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    display: block;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.pagination li a:hover {
    background-color: #67b4e0;
    color: white;
}

.progress-container-l {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.progress-box-l {
    width: 30%;
    text-align: center;
}

.progress-label-l {
    font-size: 14px;
    color: #4caf50;
    font-weight: bold;
}

.progress-l {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    height: 10px;
}

.progress-bar-l {
    background-color: #4caf50;
    height: 100%;
    border-radius: 5px;
    transition: width 0.4s ease;
}

.small-text-l {
    font-size: 12px;
    color: #6c757d;
}

body {
    font-family: Arial, sans-serif;
}

.custom-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}

.custom-box h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.custom-box p {
    font-size: 14px;
    margin: 0;
}

.custom-box .email {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.custom-box .info-text {
    font-size: 12px;
    color: #555;
}

.custom-box .info-text span {
    display: block;
}

.score-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.score-table td,
.score-table th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.score-table th {
    font-weight: bold;
}

.gauge img {
    width: 180px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .custom-box {
        padding: 10px;
    }
}

.gauge-container {
    float: left;
    text-align: center;
}

.gauge-container img {
    width: 200px;
    margin-bottom: 10px;
}


.performance-table th:nth-child(2),
.performance-table td:nth-child(2) {
    text-align: center;
    width: 25%;
}

.performance-table th:nth-child(3),
.performance-table td:nth-child(3) {
    width: 25%;
}

.performance-table th:nth-child(1),
.performance-table td:nth-child(1) {
    width: 50%;
}

.box {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    table-layout: fixed;
}

.box-header {
    background-color: #E0ECFF;
    padding: 5px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    table-layout: fixed;
}

.badge {
    background-color: #e0e0e0; 
    color: black; 
    padding: 8px 12px; 
    border-radius: 10px; 
    display: inline-block;
    margin: 5px; 
    font-size: 14px; 
    font-weight: 500; 
}

.badge-secondary {
    background-color: #f0f0f0; 
    color: #4d4d4d; 
    padding: 5px 8px; 
    border-radius: 10px; 
    margin-left: 10px; 
    display: inline-block;
    font-size: 14px; 
    font-weight: 500; 
}
